# Simulado para Avaliação final de Ciência dos Dados

___

# Nome: <font color=red><u>**Coloque seu nome**</u></font>

___

In [1]:
# Imports que podem ser úteis

import pandas as pd;
import seaborn as sns # evite fazer pairplot! Estoura a memória
import statsmodels.api as sm
import numpy as np
import matplotlib.pyplot as plt
from scipy.stats import expon, binom, t, norm, probplot, scoreatpercentile, percentileofscore
%matplotlib inline

___

### Questão 1 QUANT - Predição de variáveis quantitativas

**Faça esta questão se você previu variável Quant em seu projeto**

<img src="popcorn.jpg" width=20% alt="https://commons.wikimedia.org/wiki/Popcorn#/media/File:Popcorn.jpg">

A base a seguir tem as notas dadas por usuários a filmes (coluna `Ratings`) relacionada com diversos dados de redes sociais, faturamento e exibição.

In [5]:
movies = pd.read_excel("movies.xlsx")
movies.head(2)

,Movie,Year,Ratings,Genre,Gross,Budget,Screens,Sequel,Sentiment,Views,Likes,Dislikes,Comments,Aggregate Followers
0,13 Sins,2014,6.3,8,9130,4000000.0,45.0,1,0,3280543,4632,425,636,1120000.0
1,22 Jump Street,2014,7.1,1,192000000,50000000.0,3306.0,2,2,583289,3465,61,186,12350000.0

Use uma técnica de predição quantitativa que preveja `Ratings` em função de `Gross` e `Likes` . Avalie o poder preditivo de sua técnica tomando as precauções adequadas. Aqui, lembre-se de fazer `split` no dataset para avaliar qualidade do ajuste.

___

### Questão 1 QUALI - Predição de variáveis qualitativas

**Faça esta questão se você teve uma predição QUALI no seu Projeto 3**

Para esta questão vamos usar a função `load_diabetes` do [Scikit-Learn](https://scikit-learn.org/stable/datasets/index.html#diabetes-dataset). Vamos criar uma nova variável identificando se paciente tem ou não diabete se nível de glicose for superior a 140 mg/dL.

In [17]:
from sklearn.datasets import load_diabetes
data = load_diabetes()
df = pd.DataFrame(np.column_stack((data.data, data.target)), columns = data.feature_names+['target'])

In [18]:
#Classifica cada paciente como tendo ou não diabetes
df['Diabetes']=0 #Não possui diabetes
df.loc[df.target>140,'Diabetes']=1 #Possui diabetes

In [19]:
df.head(3)

,age,sex,bmi,bp,s1,s2,s3,s4,s5,s6,target,Diabetes
0,0.038076,0.050680,0.061696,0.021872,-0.044223,-0.034821,-0.043401,-0.002592,0.019908,-0.017646,151.0,1
1,-0.001882,-0.044642,-0.051474,-0.026328,-0.008449,-0.019163,0.074412,-0.039493,-0.068330,-0.092204,75.0,0
2,0.085299,0.050680,0.044451,-0.005671,-0.045599,-0.034194,-0.032356,-0.002592,0.002864,-0.025930,141.0,1

In [21]:
import statsmodels.formula.api as sm

X = df.iloc[:,0:10]
y = df.Diabetes

model = sm.Logit(y, X)
result = model.fit()

Optimization terminated successfully.
         Current function value: 0.473950
         Iterations 7

In [22]:
result.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:               Diabetes   No. Observations:                  442
Model:                          Logit   Df Residuals:                      432
Method:                           MLE   Df Model:                            9
Date:                Wed, 20 Nov 2019   Pseudo R-squ.:                  0.3162
Time:                        22:06:38   Log-Likelihood:                -209.49
converged:                       True   LL-Null:                       -306.37
                                        LLR p-value:                 6.690e-37
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
age            1.0370      2.793      0.371      0.710      -4.436       6.510
sex          -11.7488      3.078     -3.817      0.000     -17.782      -5.716
bmi           13.8155      3.309      4.176      0.000       7.331      20.300
bp            11.5416      3.119      3.701      0.000       5.429      17.654
s1           -33.0539     22.946     -1.440      0.150     -78.028      11.920
s2            22.9752     19.284      1.191      0.233     -14.820      60.771
s3            -0.4496     11.278     -0.040      0.968     -22.554      21.655
s4             0.8119      8.012      0.101      0.919     -14.890      16.514
s5            29.6414      9.543      3.106      0.002      10.937      48.346
s6             0.0606      3.200      0.019      0.985      -6.212       6.333
==============================================================================
"""

Se o seu problema analisado no seu Projeto 3 tinha uma variável qualitativa como target (variável dependente) - Problema de Classificação, então aplique alguma outra técnica adequada para classificar se um paciente tem ou não diabetes em função dos atribuitos descritos em `X`.

Aqui, lembre-se de fazer `split` no dataset para avaliar qualidade do ajuste.

___

___

### PROBLEMA para as Questões 2 e 3

A Marvak, uma renomada loja de departamentos, decidiu realizar uma pesquisa para verificar uma possível associação entre algumas características de seus clientes com seus gastos anuais na loja.

Dessa forma, foi selecionada aleatoriamente uma amostra aleatória de $1.000$ clientes que já fizeram compra na Marvak em todas as filiais no último ano e foram observadas as seguintes informações:

* **IDADE**: idade do cliente, que foi categorizada em jovem (até 30 anos), adulto (de 31 a 55 anos) ou idoso (56 ou mais anos);
* **SEXO**: sexo do cliente (feminino ou masculino);
* **RESIDENCIA**: tipo de residência do cliente (alugada ou própria);
* **EC**: estado civil do cliente (casado ou solteiro);
* **SALARIO_ANUAL**: salário anual do cliente (em reais); e
* **GASTO_ANUAL**: gasto total anual do cliente em compras realizadas na Marvak (em reais).

In [24]:
dados = pd.read_excel("Marvak.xlsx")

In [25]:
dados.head()

   ID   IDADE       SEXO RESIDENCIA        EC  SALARIO_ANUAL  GASTO_ANUAL
0   1   Jovem   Feminino    Alugada  Solteiro       86000.00      1053.00
1   2   Jovem   Feminino    Propria    Casado       48543.74       321.03
2   3   Jovem   Feminino    Propria  Solteiro       14760.10       375.03
3   4  Adulto   Feminino    Alugada  Solteiro       19900.00       262.00
4   5   Idoso  Masculino    Alugada    Casado      119000.00       278.00

In [26]:
dados.columns

Index(['ID', 'IDADE', 'SEXO', 'RESIDENCIA', 'EC', 'SALARIO_ANUAL',
       'GASTO_ANUAL'],
      dtype='object')

In [27]:
dados.IDADE = dados.IDADE.astype('category')
dados.SEXO = dados.SEXO.astype('category')
dados.RESIDENCIA = dados.RESIDENCIA.astype('category')
dados.EC = dados.EC.astype('category')

In [28]:
dados.dtypes

ID                  int64
IDADE            category
SEXO             category
RESIDENCIA       category
EC               category
SALARIO_ANUAL     float64
GASTO_ANUAL       float64
dtype: object

___

### Questão 2 - Teste de Hipóteses

O departamento financeiro da Marvak acredita que os clientes de qualquer filial dessa rede gastaram, em média, mais do que $500$ reais no último ano.

Levando em consideração a amostra disponível na base de dados, verifique se há evidências suficiente para afirmar que a suspeita do departamento financeiro procede.

**Para resolução desta questão, deixe claro:**

1) Construção das Hipóteses Nula e Alternativa em termos do problema e do parâmetro. `(1,0 ponto)`

Símbolos úteis: $H_0$ , $H_1$, $\mu$, $>$, $\geq$, $<$, $\leq$

**R.:**

2) Cálculo do valor *p* do teste. `(0,75 ponto)`

3) Conclusão em termos do problema, deixando claro quais resultados foram utilizados para tal decisão. `(0,75 ponto)`

**R.:**

4) Qual ou quais suposições foram feitas para a escolha da distribuição utilizada no item (2) desta questão. Se há suposição para a distribuição de probabilidades da variáveis de interesse, verifique-a de utilizando algum recurso gráfico. `(1,0 ponto)`

**R.:**

___

### Questão 3 - Modelo de predição

Assuma que o objetivo da Marvak seja traçar o perfil de clientes com maior potencial de consumo na loja Marvak. Ou seja, considerando as variáveis mensuradas na base de dados, quais as características que melhor definem o segmento de clientes da Marvak.

Assim, considere que a variável `GASTO_ANUAL` é a variável-alvo a ser predita e as demais variáveis da base de dados são as variáveis explicativas.

 
**Para resolução desta questão, faça:**

1) Gráfico de dispersão do `SALARIO_ANUAL` versus `GASTO_ANUAL` separando os clientes que residem em casa `Alugada` e casa `Propria`. Interprete-o. `(0,75 ponto)`

 
2) Considerando apenas os clientes que possuem residência `Alugada`, ajuste uma reta para prever `GASTO_ANUAL` de acordo com o `SALARIO_ANUAL` do cliente. Considerando o valor *p* de um ajuste linear, a reta é significante? Qual deve ser o `GASTO_ANUAL` previsto para um cliente que possui residência `Alugada` e `SALARIO_ANUAL` de 130 mil reais? `(1,00 ponto)`

 
3) Considerando apenas os clientes que possuem residência `Propria`, ajuste uma reta para prever `GASTO_ANUAL` de acordo com o `SALARIO_ANUAL` do cliente. Considerando o valor *p* de um ajuste linear, a reta é significante? Qual deve ser o `GASTO_ANUAL` previsto para um cliente que possui residência `Propria` e `SALARIO_ANUAL` de 130 mil reais? `(1,00 ponto)`

4) As variáveis `RESIDENCIA` e  `SALARIO_ANUAL` poderiam ser consideradas simultaneamente num modelo de regressão para estimar `GASTO_ANUAL` de um cliente da Marvak? Justifique. **Nota:** Aqui não é necessário ajustar um modelo, mas sim explicar se seria possível e como você procederia deixando claro os cuidados que teria para incluir ambas as variáveis no modelo. `(0,75 ponto)`

___

### Questão 4 - Variáveis aleatórias

**(Questão extraída do ENADE 2017) **

Suponha que determinado programa de computador seja executado por meio de 13 etapas, com tempo médio de 50 segundos ao todo e dispersão relativa de 10% em torno da média.

Considere que uma equipe de engenharia propõe um novo algoritmo que reduz em 30% o tempo de execução de todas as 13 etapas desse programa.

Nesse contexto, avalie as afirmações a seguir, a respeito do tempo de execução do novo algoritmo.

    I.	O tempo médio por etapa será 32,5 segundos.
    II.	O desvio-padrão permanecerá inalterado.
    III.	A dispersão relativa em torno da média permanecerá inalterada.

É correto o que se afirma em: 
    
    A)	I, apenas
    B)	III, apenas
    C)	I e II, apenas
    D)	II e III, apenas
    E)	I, II e III

Deixe aqui seu RACIOCÍNIO feito para A ESCOLHA DA ALTERNATIVA ASSINALADA!!

(ESTE EXERCÍCIO SERÁ ANULADO SE NÃO HOUVER DESENVOLVIMENTO DE RACIOCÍNIO PARA A ESCOLHA DA ALTERNATIVA, MESMO SE ASSINALADA A RESPOSTA CORRETA)

É útil saber que **dispersão relativa** é dada pela seguinte fórmula:

$$DR = \frac{\sigma}{\mu}$$

**R.**